body{
    footer{
        display: flex;
        color: white;
        background-color: black;
        width: 100%;
        justify-content: space-between;
        ul{
            display: flex;
            justify-content: flex-start;
        }
    }
}