body{
    background-color: chocolate;
    #user-details{
        display: flex;
        justify-content: center;
        p{
            font-size: 3rem;
            padding: 5px;
        }
    }
    
}