<h1>Sing In for Soshell</h1>
<form action="/users/create-session" method="post">
<input type="email" name="email" placeholder="enter Email" required>
<input type="password" name="password" placeholder="Enter password" required>
<input type="submit" value="Log in">
</form>